body {
    font-family: Arial, Times New Roman;
    margin: 0;
    padding: 0;
    background-color: #2b3cf0;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: start; /* Centraliza os itens horizontalmente */
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex; /* Adiciona flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha o conteúdo na vertical */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.card-large {
    grid-column: span 1;
}
.card-large {
    grid-column: span 1;
}

.card-wide {
    grid-column: 1/ span 3;
}
.card-wide {
    grid-column: 1/ span 2;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: start; /* Centraliza o conteúdo dentro do card */
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: start; /* Centraliza o texto do título */
}

.weather-icon {
    font-size: 60px; /* Tamanho do icone */
}
.onibus-icon {
    font-size: 30px;
}
.
.productivity {
    font-size: 3em;
    font-weight: bold;
    margin-top: 10px;
    animation: scale 1.5s infinite;
}

@keyframes scale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
